# ワークフロー名
name: schedule_bot_remind
#on:
#  schedule:
    # 定期実行する時間(JST：毎週水曜日 9:00実行)
#    - cron: '0 0 * * 3'
# on:
#   push:
#     branches:
#       - main

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      # preparation.
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Set up Python.
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.11'

      - name: Create .env file
        run: |
          echo "LINE_API_TOKEN=${{ secrets.LINE_API_TOKEN }}" >> .env
          echo "LINE_USER_ID=${{ secrets.LINE_USER_ID }}" >> .env
          echo "LINE_GROUP_ID_MAIN_CHANNEL=${{ secrets.LINE_GROUP_ID_MAIN_CHANNEL }}" >> .env

      - name: Install pipenv.
        run: pip install pipenv

      - name: Install dependencies from Pipfile.lock.
        run: pipenv install --deploy --ignore-pipfile

      # exec.
      - name: Run script.
        run: pipenv run python remind_notifier.py
